[Unit]
Description=Servicio de perifoneo - Reproducción de audio
After=network-online.target sound.target

[Service]
Type=simple
User=tgslo
WorkingDirectory=/home/tgslo/convey
ExecStart=/home/tgslo/convey/consumer.sh
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
